body .post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}
  
body .post-container .post-inner {
    position: relative;
    max-width: 900px;
    height: 400px;
    border-radius: 15px;
    margin: 40px;
    transition: 0.5s;
    bottom:50px;
}

.virtualbox-img{
    width:40%;
    margin-top:2%;
}

.vb-img{
    margin-top:5%;
    margin-bottom:5%;
}

.quote {
    margin: 0;
    background: var(--grey-color);
    padding: .4em;
    border-radius: .5em;
  }
.quote blockquote {
    margin: .5em;
}