@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

li, a{
    font-family: "Fira Mono", sans-serif;
    color:var(--text-color);
    font-size: 20px;
    text-decoration:none;
}
header {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding:26px 5%;
    background-color:rgb(51,52,54);
}

.nav-link-container .mobile-nav {
    display:none;
}

.menu-icon {
    color :var(--text-color);
    font-size:30px;
}

.close-icon{
    color :var(--text-color);
    font-size:30px;
}


@media screen and (max-width: 900px) {
    .nav-link-container .desktop-nav {
        display:none;
    }
    
    .nav-link-container .mobile-nav {
        display:flex;
        z-index: 4;
        opacity: 1;
        overflow: hidden;
    }

    .nav-link-container .mobile-nav ul {
        display:flex;
        flex-direction:column;
        position: absolute;
        top: 80px;
        left:0px;
        width: 100%;
        padding-bottom:30px;
        background-color:rgb(51,52,54);
        border-top: 2px solid var(--border-color);
        overflow: hidden;
        position: fixed;
    }

    .nav-link-container .mobile-nav ul li{
        padding:20px;
        padding-left: 38px;

    }
        
}


.logo{
    cursor:pointer;
    position: fixed;
    left:38px;
    font-size: 20px;
    color:var(--highlight-color)
}

.nav-link-container{
    list-style:none;
}

.nav-link-container li{
    display:inline-block;
    padding:0px 20px;
}

.nav-link-container li a{
    display: inline-block;
    position: relative;

}

.nav-link-container li a:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}

.nav-link-container li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


.subscribe {
	background-color: var(--highlight-color);
	font-family: "Fira Mono", sans-serif;
	padding: 8px 15px;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	color: var(--text-color);
	transition: 0.3s linear;
    border: var(--highlight-color) 2px solid; 

}



.subscribed{
    background-color:rgb(51,52,54);
	font-family: "Fira Mono", sans-serif;
    border-radius: 100px;
	cursor: pointer;
	color: var(--text-color);
	outline: none;
    border: var(--highlight-color) 2px solid; 
    width: 65px;
    height: 45px;
    padding-right:16px;
    position: relative;
    right:0px;
}

.subscribed-check{
    position: relative;
    right:33px;
    top:5px;
    color: rgb(83, 229, 83);
}


@media screen and (max-width: 700px) {
    .subscribe {
        padding: 1px;
        background-color:rgb(51,52,54);
    }
    
}