@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

li, a{
    font-family: "Fira Mono", sans-serif;
    color:var(--text-color);
    font-size: 20px;
    text-decoration:none;
}
header {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding:26px 5%;
    background-color:rgb(51,52,54)
}

.logo{
    cursor:pointer;
    margin-right:auto;
    font-size: 20px;
    color:var(--highlight-color)
}

.nav-link-container{
    list-style:none;
}

.nav-link-container li{
    display:inline-block;
    padding:0px 20px;
}

.nav-link-container li a{
    transition: all 0.3s ease 0s;
}

.nav-link-container li a:hover{
    color:var(--highlight-color)
}

.subscribe {
	background-color: var(--highlight-color);
	font-family: "Fira Mono", sans-serif;
	padding: 8px 15px;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	color: var(--text-color);
	outline: none;
	border: none;
	transition: 0.3s linear;
    margin-left:20px;
}

.subscribed{
    background-color: #75da3f;
	font-family: "Fira Mono", sans-serif;
	padding: 8px 15px;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	color: var(--text-color);
	outline: none;
	border: none;
	transition: 0.3s linear;
    margin-left:20px;
}

@media screen and (max-width: 800px) {
    .subscribe {
        padding: 0px;
        background-color:rgb(51,52,54);
        margin-left:10px;
    }
    
}