.subscribePopup{
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: rgb(51,52,54);
    border-radius: 20px;
    z-index: 2;
  }
  
  .subscribeTitle{
    position: relative;
    font-size: 1.8em;
    color: var(--white);
  }
  
  .subscribeInput{
    position: relative;
    left:25%;
    background-color: var(--white);
    border: var(--button) 3px solid;
    border-radius:8px;
    padding:10px;
    margin-top:15px;
  }
  
  
  .close{
    position: absolute;
    bottom: 220px;
    left: 89%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
  }
  
  .subscribeInput:focus{
    outline: none;
  }
  