:root {
  --background-color: #2c2d30;
  --grey-color: #6d6d70;
  --text-color: #EFD9CE;
  --highlight-color: #e91e63;
  --white: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Fira Mono",sans-serif, "Poppins";
}

body {
  justify-content: center;
  align-items: center;
  background: var(--background-color);
}

h1 {
  font-size: 3em;

}

h2 {
  margin-top:20px;
  font-size: 2em;
  font-weight: 500;
  color: var(--white);
}

strong{
  font-family: "Poppins", "Fira Mono", sans-serif;
}



/*
.########...#######...######..########
.##.....##.##.....##.##....##....##...
.##.....##.##.....##.##..........##...
.########..##.....##..######.....##...
.##........##.....##.......##....##...
.##........##.....##.##....##....##...
.##.........#######...######.....##...
*/

.post-title{
  font-family: "Poppins", "Fira Mono", sans-serif;
  color:var(--grey-color);
  font-size:2.5em;
  margin-top:7%;
  margin-bottom:4%;
  text-align:center;

}
.post-subtitle{
  font-family: "Poppins", "Fira Mono", sans-serif;
  color:var(--highlight-color);
  font-size:2em;
  margin-top:10%;
  margin-bottom:-1%;
  text-align:left;
}

body .post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

body .post-container .post-inner {
  position: relative;
  width: 50%;
  border-radius: 15px;
  margin: 40px;
  transition: 0.5s;
  bottom:50px;
}

.quote {
  margin: 0;
  background: var(--grey-color);
  padding: .4em;
  border-radius: .5em;
  width:100%;
}
.quote blockquote {
  margin: .5em;
  width:100%;
}

.post-img{
  margin:50px 0 50px 0;
}

.link{
  text-decoration: underline;
}

.link:hover{
  color:var(--highlight-color);
}

p{
  font-family: "Fira Mono", "Poppins", sans-serif;
  font-size:20px;
  color: var(--text-color);
  line-height:180%;
  margin-top:40px;
  margin-bottom:40px;
}

@media screen and (max-width: 600px) {
  .link{
    font-size:1em;
  }
  body .post-container .post-inner{
    width: 80%;
  }
  p{
    font-size:14px;
  }
  .post-title{
    font-size:1.8em;
  }
  .post-subtitle{
    font-size:1.2em;
    margin-top:15%;
    margin-bottom:-20px
  }
}

/*
.########.....###....##....##.##....##.########.########.
.##.....##...##.##...###...##.###...##.##.......##.....##
.##.....##..##...##..####..##.####..##.##.......##.....##
.########..##.....##.##.##.##.##.##.##.######...########.
.##.....##.#########.##..####.##..####.##.......##...##..
.##.....##.##.....##.##...###.##...###.##.......##....##.
.########..##.....##.##....##.##....##.########.##.....##
*/
.banner-container {
  position: relative;
  height:100%;
  margin-bottom:100px;
  margin-top:100px;
}

.inner-banner-container {
  text-align: center;
  position: relative;
  width: 100%;
  color: var(--white);

}

@media screen and (max-width: 600px) {
  .inner-banner-container{
    text-align: center;
    position: relative;
    font-size: .8em;
    width:75%;
    margin:auto;
  }
}


/*
..######...#######..########..########....########..##........#######...######..##....##
.##....##.##.....##.##.....##.##..........##.....##.##.......##.....##.##....##.##...##.
.##.......##.....##.##.....##.##..........##.....##.##.......##.....##.##.......##..##..
.##.......##.....##.##.....##.######......########..##.......##.....##.##.......#####...
.##.......##.....##.##.....##.##..........##.....##.##.......##.....##.##.......##..##..
.##....##.##.....##.##.....##.##..........##.....##.##.......##.....##.##....##.##...##.
..######...#######..########..########....########..########..#######...######..##....##
*/


.code-block{
  border: 5px solid var(--grey-color);
  border-radius: 20px;
  margin: 20px 0 20px 0;
  padding: 0px 0px -200px 0px;
}